html::-webkit-scrollbar
{
    width: 12px;
    background-color: #f1f1f1;
}

html::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #d0d0d0;
}

:root {
    --typeNameColor: #007400;
}

.argumentName {
    color: #5b2699;
}

.argumentCell {
    padding-right: 0.5rem;
    white-space: nowrap;
    vertical-align: top;
    font-family: monospace;
    font-size: 0.9rem;
}

.argumentRow {
    line-height: 1.3;
    color: #333;
}

.argumentRow code {
    font-size: 0.8em;
    background: #ddd;
    padding: 0.1em;
}

.fieldName {
    color: #64381f;
}

.defaultValue {
    color: #836c28;
}

.typeName {
    color: var(--typeNameColor);
    text-decoration: none;
}

.typeLink,
.typeLink:active,
.typeLink:hover,
.typeLink:visited {
    color: var(--typeNameColor);
    text-decoration: none;
    font-family: monospace;
    font-size: 0.9rem;
}
