.container {
    margin-bottom: 0.7rem;
    font-family: monospace;
    background: #f0f0f9;
    padding: 0.5rem;
    font-size: 0.9rem;
    border-bottom: 1px solid #ddd;
}

.name {
    composes: fieldName from "./_base.css";
}

.argumentName {
    composes: argumentName from "./_base.css";
}

.defaultValue {
    composes: defaultValue from "./_base.css";
}
