@import "./_normalize.css";

.sidenavSection {
    width: 100%;
}

.sectionLink,
.typeLink {
    width: 100%;
}

.sectionLink > a,
.typeLink > a {
    display: block;
    width: 100%;
    padding: 7px 5px;
    text-decoration: none;
    color: dimgray;
}

.sectionLink > a {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
}

.typeLink:hover,
.sectionLink:hover {
    background: lightgray;
}